.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 30px 43.75px;
  flex: 1;
}

header + .content {
  padding-top: 102px;
}

body {
  background-color: #fcf9ee
}


.title {
  font-family: Favorit,sans-serif;
  font-size: 15vw;
  line-height: 12.5vw;
  font-weight: 400;
  letter-spacing: -.1em;
  text-transform: uppercase;
}

.title_small {
  font-size: 4vw;
  line-height: 3.5vw;
  text-align: right;
  letter-spacing: -.07em;
}